{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Page Title</title>
        <link rel="stylesheet" href="{% static 'AlifArtWebsite/css/style.css' %}">
    </head>
    <body>
        {% include 'templates/AlifArtWebsite/navbar.html' %}

        <section class="about" id="about">
            <div class="max-width">
                <h2 class="title">About Us</h2>
                <div class="about-content">
                    <div class="column-left">
                        <img src="{% static 'AlifArtWebsite/images/img3.JPG' %}" alt="">
                    </div>
                    <div class="column-right">
                        <div class="text">Alif Art. Home of Islamic <span>Caligraphy</span></div>
                        <p>  
                            Alif Art is a hub for creativity, where traditional Islamic art meets modern design. 
                            Our collection celebrates the rich heritage of Islamic calligraphy and abstract expression, 
                            offering pieces that resonate with spirituality and sophistication. Every artwork is crafted with 
                            precision and passion, making Alif Arts a trusted destination for those seeking meaningful and exquisite decor.
                        </p>
                        <br>
                        <p>
                            At Alif Arts, our mission is to provide customers with exceptional quality products that illuminate and 
                            elevate their spaces. We believe art has the power to inspire and transform, which is why each piece is 
                            thoughtfully designed to blend elegance with profound meaning. Whether adorning a home, office, or sacred space, 
                            our goal is to create works that leave a lasting impression.
                        </p>
                    </div>
                </div>
            </div>
        </section>


        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>