{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Page Title</title>
        <link rel="stylesheet" href="{% static 'AlifArtWebsite/css/style.css' %}">
    </head>
    <body>
        {% include 'templates/AlifArtWebsite/navbar.html' %}

        <section class="home-container" id="home">
            <div class="home-img">
                <img src="{% static 'AlifArtWebsite/images/logo.png' %}" alt="Home Image">
            </div>
            <div class="home-text">
                <div class="home-content">
                    <div class="text-1">Welcome to</div>
                    <div class="text-2">Alif Art</div>
                    <div class="text-3">Home of <span>Islamic Caligraphy</span></div>
                    <p> Discover timeless Islamic art and modern abstract works designed to inspire and beautify your spaces. 
                        Whether you’re looking for a spiritual masterpiece or contemporary decor, our work reflects elegance 
                        and meaning.
                    </p>
                </div>
            </div>
        </section>

        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>